<script src="https://unpkg.com/vue@3"></script>
<script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

<div id="app">
  <h1>Setup:</h1>
  <form>
    <fieldset>
      <legend>Rolls</legend>

      <div class="input-group">
        <div class="form-floating">
          <input id="tickets" class="form-control" type="number" v-model="input.tickets" :disabled=simulationInProgress>
          <label for="tickets"># of Tickets</label>
        </div>
        <span class="input-group-text">@</span>
        <div class="form-floating">
          <select id="ticketRatio" class="form-select" v-model="input.ticketRatio" :disabled=simulationInProgress>
            <option v-for="option in ratioOptions" :value="option.value" :disabled="option.disabled">
              {{ option.text }}
            </option>
          </select>
          <label for="ticketRatio">Ticket SSR chance</label>
        </div>
      </div>

      <div class="input-group">
        <div class="form-floating">
          <input id="freeStones" class="form-control" type="number" v-model="input.freeStones" :disabled=simulationInProgress>
          <label for="freeStones"># of Free stones</label>
        </div>
        <span class="input-group-text">= {{freeRolls}} rolls</span>
        <span class="input-group-text">@</span>
        <div class="form-floating">
          <select id="freeRatio" class="form-select" v-model="input.freeRatio" :disabled=simulationInProgress>
            <option v-for="option in ratioOptions" :value="option.value" :disabled="option.disabled">
              {{ option.text }}
            </option>
          </select>
          <label for="freeRatio">Free SSR chance</label>
        </div>
      </div>

      <div class="input-group">
        <div class="form-floating">
          <input id="paidStones" class="form-control" type="number" v-model="input.paidStones" :disabled=simulationInProgress>
          <label for="paidStones"># of Paid stones</label>
        </div>
        <span class="input-group-text">= {{paidRolls}} rolls</span>
        <span class="input-group-text">@</span>
        <div class="form-floating">
          <select id="paidRatio" class="form-select" v-model="input.paidRatio" :disabled=simulationInProgress>
            <option v-for="option in ratioOptions" :value="option.value" :disabled="option.disabled">
              {{ option.text }}
            </option>
          </select>
          <label for="paidRatio">Paid SSR chance</label>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>Banner</legend>

      <div class="input-group">
        <div class="form-floating">
          <input id="targetGirls" class="form-control" type="number" v-model="input.bannerTarget" min="1" :max="input.bannerTotal" :disabled=simulationInProgress>
          <label for="targetGirls"># of Target girls</label>
        </div>
        <span class="input-group-text">/</span>
        <div class="form-floating">
          <input id="bannerGirls" class="form-control" type="number" v-model="input.bannerTotal" :min=input.bannerTarget :max="MAX_GIRLS" :disabled=simulationInProgress> 
          <label for="bannerGirls">Total # of girls in banner</label>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>Roll until...</legend>
      <div class="form-check form-check-inline">
        <input id="one" class="form-check-input" type="radio" value="one-copy" v-model="input.rollUntil" :disabled=simulationInProgress>
        <label for="one" class="form-check-label">Every target girl has a copy</label>
      </div>
      <div class="form-check form-check-inline">
        <input id="awaken" class="form-check-input" type="radio" value="awaken" v-model="input.rollUntil" :disabled=simulationInProgress>
        <label for="awaken" class="form-check-label">Every target girl is Max Awakened (5 copies)</label>
      </div>
      <div class="form-check form-check-inline">
        <input id="all" class="form-check-input" type="radio" value="all" v-model="input.rollUntil" :disabled=simulationInProgress>
        <label for="all" class="form-check-label">Out of stones</label>
      </div>
    </fieldset>
  </form>
    

  <h1>Run simulation<span v-if="!cleared"> again</span></h1>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-primary" @click="simulate(1)">Once</button>
    <button type="button" class="btn btn-primary" @click="simulate(100)">100x</button>
    <button type="button" class="btn btn-primary" @click="simulate(1000)">1000x</button>
    <button type="button" class="btn btn-primary" @click="simulate(10000)">10000x</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-warning" @click="stopSimulation" :disabled=!simulationInProgress>Stop</button>
    <button type="button" class="btn btn-danger" @click="clearSimData" :disabled=simulationInProgress>Reset</button>
  </div>

  <h1>Current simulation #{{sim.id}}<span v-if="sim.remainingSimulations >0"> ({{sim.remainingSimulations}} remaining)</span></h1>
  
  <ul class="list-group">
    <li class="list-group-item">
      Status: {{sim.status}}
      <span v-if="sim.status == 'SUCCESS'">🥰</span>
      <span v-else-if="sim.status == 'FAILED'">😢</span>
    </li>
    <li class="list-group-item">
      Rolls: {{sim.rolls}} (remaining {{sim.remaining.tickets}} / {{sim.remaining.free}} / {{sim.remaining.paid}})
    </li>
  </ul>
  
  <table class="table table-striped table-hover">
    <tr v-for="girl in activeGirls" :key="girl.id" :class="{ 'table-danger':girl.target }">
      <td>
        <span v-if="girl.target" style="color:red">❤</span>
      </td>
      <td><input v-model="girl.name"></td>
      <td :class="{ 'table-success':girl.success, 'table-secondary':!girl.success }">
        {{girl.ssrs}} SSRs 
        <span v-if="girl.ssrs >= 5" style="font-weight:bold">(MAX)</span>
      </td>
      <td :class="{ 'table-success':girl.success, 'table-secondary':!girl.success }">
        <span v-for="index in girl.ssrs">
          <span v-if="index == 1">★</span>
          <span v-else-if="index < 5">☆</span>
          <span v-else-if="index == 5">✪</span>
          <span v-else>⚹</span>
        </span>
      </td>
    </tr>
  </table>

  <h2>Sim Statistics:</h2>
  <ul class="list-group">
    <li class="list-group-item">Total SSRs: {{summary.totalSSRs}} ({{summary.SSRRatio}} %)</li>
    <li class="list-group-item">Target SSRs: {{summary.targetSSRs}} (with {{summary.extraTargetSSRs}} extra)</li>
    <li class="list-group-item">Non-target SSRs: {{summary.nonTargetSSRs}} (with {{summary.extraNonTargetSSRs}} extra)</li>
  </ul>

  <h1>Overall statistics</h1>
  <ul class="list-group">
    <li class="list-group-item"> {{statistics.simulationCount}} simulations
    <li class="list-group-item"> Number of failures: {{statistics.failures}} 
      ({{(statistics.failures / statistics.simulationCount * 100).toFixed(2)}} %) </li>
    <li class="list-group-item"><span style='color:blue'>Average rolls to succeed: {{statistics.meanRolls}}</span></li>
    <li class="list-group-item"><span style='color:green'>Median rolls to succeed: {{statistics.medRolls}}</span></li> 
    <li class="list-group-item"><span style='color:blue'>Average number of SSRs: {{statistics.meanSSRs}}</span></li>
    <li class="list-group-item"><span style='color:green'>Median number of SSRs: {{statistics.medSSRs}}</span></li>
  </ul>
  <div id="piechart"></div>
  <div id="histogram"></div>
  <div id="ssrhistogram"></div>

</div>
<script type="module">
  const { createApp } = Vue
  const gworker = new Worker("./gacha-worker.js");
  gworker.onmessage = function(e) {
    let data = e.data;
    switch (data.state) {
      case 'simResult':
        console.log("got simResult");
        vue.handleSimulationResult(data.result)
        break;
      case 'simulationComplete':
        console.log("got simulationComplete");
        vue.handleSimulationComplete();
        break;
    };
  };

  let vue = createApp({
    created() {
      for (let i = 0; i < this.MAX_GIRLS; i++) {
        this.girls.push({
          id:i,
          name: "girl" + i,
          ssrs: 0,
          target: i + 1 <= this.input.bannerTarget,
          success: false,
        })
      }
    },
    data() {
      return {
        MAX_GIRLS: 26,
        input: {
          tickets: 600,
          freeStones: 1000000,
          paidStones: 10000,
          bannerTotal: 7,
          bannerTarget: 3,
          rollUntil:"awaken",
          ticketRatio:"all11",
          freeRatio:"every3rd",
          paidRatio:"all33",
        },

        girls: [],

        cleared: true,
        simulationInProgress: false,

        ratioOptions: [
          {text:"Select SSR chance", value:'', disabled:true},
          {text:"1.1% every roll", value:"all11", disabled:false},
          {text:"3.3% every roll", value:"all33", disabled:false},
          {text:"1.1% with every 3rd role at 3.3%", value:"every3rd", disabled:false},
          {text:"1.1% with every 6th role at 3.3%", value:"every6th", disabled:false},
        ],

        sim: {
          id: 0,
          status: '???',
          rolls: 0,
          remaining: {
            tickets: 0,
            free: 0,
            paid: 0,
          },
          remainingSimulations: 0,
        },

        statistics: {
          simulationCount: 0,
          failures: 0,
          requiredRolls: [],
          meanRolls: 0,
          medRolls: 0,
          ssrs: [],
          meanSSRs: 0,
          medSSRs: 0,
        }
      }
    },
    computed: {
      freeRolls() { return Math.floor(this.input.freeStones/500); },
      paidRolls() { return Math.floor(this.input.paidStones/500); },
      desiredCopies() {
        switch(this.input.rollUntil) {
          case 'awaken':
            return 5;
          case 'one-copy':
            return 1;
          default:
            return -1;
        }
      },
      activeGirls() {
        return this.girls.slice(0, this.input.bannerTotal);
      },
      summary() {
        let stats = {
          totalSSRs: 0,
          SSRRatio: 0,
          targetSSRs: 0,
          extraTargetSSRs: 0,
          nonTargetSSRs: 0,
          extraNonTargetSSRs: 0,
        }
        this.activeGirls.forEach(girl => {
          stats.totalSSRs += girl.ssrs;
          if (girl.target) {
            stats.targetSSRs += girl.ssrs;
            if (this.input.rollUntil == "awaken" && girl.ssrs >= 5) {
              stats.extraTargetSSRs += girl.ssrs - 5;
            } else if (this.input.rollUntil == "one-copy" && girl.ssrs >= 1) {
              stats.extraTargetSSRs += girl.ssrs - 1;
            }
          } else {
            stats.nonTargetSSRs += girl.ssrs;
            if (this.input.rollUntil == "awaken" && girl.ssrs >= 5) {
              stats.extraNonTargetSSRs += girl.ssrs - 5;
            } else if (this.input.rollUntil == "one-copy" && girl.ssrs >= 1) {
              stats.extraNonTargetSSRs += girl.ssrs - 1;
            }
          }
        });
        stats.SSRRatio = (stats.totalSSRs / this.sim.rolls * 100).toFixed(2);
        return stats;
      },
    },
    methods: {
      simulate(times) {
        if (this.cleared && !this.simulationInProgress) {
          this.cleared = false;
          gworker.postMessage({
            action:"setup", 
            params:{
              ticketRolls: this.input.tickets,
              ticketRatio: this.input.ticketRatio,
              freeRolls: this.freeRolls,
              freeRatio: this.input.freeRatio,
              paidRolls: this.paidRolls,
              paidRatio: this.input.paidRatio,
              totalGirls: this.input.bannerTotal,
              mainGirls: this.input.bannerTarget,
              desiredCopies: this.desiredCopies,
            }
          });
        }
        this.simulationInProgress = true;
        gworker.postMessage({
          action:"simulate", 
          params:{times:times}
        });
      },
      stopSimulation() {
        this.simulationInProgress = false;
        gworker.postMessage({
          action:"stop", 
        });
      },
      handleSimulationComplete() {
        this.simulationInProgress = false;
        this.sim.remainingSimulations = 0;
        this.render();
      },
      handleSimulationResult(result) {
        console.log(JSON.stringify(result));
        for (let i = 0; i < result.girls.length; i++) {
          this.girls[i].ssrs = result.girls[i];
          this.girls[i].success = (this.input.rollUntil == 'awaken') ? result.girls[i] >= 5 : result.girls[i] >= 1;
        }
       
        this.sim.id = result.id;
        this.sim.status = result.success ? "SUCCESS" : "FAILED";
        this.sim.rolls = result.rollCount;
        this.sim.remainingSimulations = result.remainingSimulations;

        let remainingRolls = this.sim.rolls;
        let remaining = {}
        if (remainingRolls > 0) {
          let diff = Math.min(remainingRolls, this.input.tickets);
          remainingRolls -= diff;
          remaining.tickets = this.input.tickets - diff;
        }
        if (remainingRolls > 0) {
          let diff = Math.min(remainingRolls, this.freeRolls);
          remainingRolls -= diff;
          remaining.free = this.freeRolls - diff;
        }
        remaining.paid = this.paidRolls - remainingRolls;
        this.sim.remaining = remaining;

        this.statistics.simulationCount++;
        if (result.success) {
          this.statistics.requiredRolls.push(this.sim.rolls);
        } else {
          this.statistics.failures++;
        }
        this.statistics.ssrs.push(this.summary.totalSSRs);
      },
      render() {
        this.renderRollHistogram();
        this.renderSuccessPie();
        this.renderSSRHistogram();
      },
      renderRollHistogram() {
        let rolls = this.statistics.requiredRolls;
        if (rolls.length > 0) {
          let sum = rolls.reduce((a,b) => a+b,0);
          this.statistics.meanRolls = (sum / rolls.length).toFixed(0);
          this.statistics.medRolls = rolls.sort()[(rolls.length/2).toFixed(0)];
        }
        let data = {
          x: this.statistics.requiredRolls,
          type: 'histogram',
          histnorm: 'percent',
          marker: { color: 'red' },
          opacity: 0.5,
        };

        var layout = {
          bargap: 0.05, 
          bargroupgap: 0.2, 
          barmode: "overlay", 
          title: "Number of rolls to " + this.input.rollUntil, 
          xaxis: {title: "Rolls"}, 
          yaxis: {title: "% of Simulations"},
          shapes: [{
            name: 'average',
            type: 'line',
            xref: 'x',
            yref: 'paper',
            x0: this.statistics.meanRolls,
            y0: 0,
            x1: this.statistics.meanRolls,
            y1: 1,
            line: {
              color: 'blue',
              width: 3
            }
          },{
            name: 'median',
            type: 'line',
            xref: 'x',
            yref: 'paper',
            x0: this.statistics.medRolls,
            y0: 0,
            x1: this.statistics.medRolls,
            y1: 1,
            line: {
              color: 'green',
              width: 3
            }
          }]
        };
        Plotly.newPlot('histogram', [data], layout);
      }, 
      renderSSRHistogram() {
        let ssrs = this.statistics.ssrs;
        if (ssrs.length > 0) {
          let sum = ssrs.reduce((a,b) => a+b,0);
          this.statistics.meanSSRs = (sum / ssrs.length).toFixed(0);
          this.statistics.medSSRs = ssrs.sort()[(ssrs.length/2).toFixed(0)];
        }
        let data = {
          x: this.statistics.ssrs,
          type: 'histogram',
          histnorm: 'percent',
          marker: { color: 'lightblue' },
          opacity: 0.5,
        };

        var layout = {
          bargap: 0.05, 
          bargroupgap: 0.2, 
          barmode: "overlay", 
          title: "SSR's probability", 
          xaxis: {title: "SSRs"}, 
          yaxis: {title: "% of Simulations"},
          shapes: [{
            name: 'average',
            type: 'line',
            xref: 'x',
            yref: 'paper',
            x0: this.statistics.meanSSRs,
            y0: 0,
            x1: this.statistics.meanSSRs,
            y1: 1,
            line: {
              color: 'blue',
              width: 3
            }
          },{
            name: 'median',
            type: 'line',
            xref: 'x',
            yref: 'paper',
            x0: this.statistics.medSSRs,
            y0: 0,
            x1: this.statistics.medSSRs,
            y1: 1,
            line: {
              color: 'green',
              width: 3
            }
          }]
        };
        Plotly.newPlot('ssrhistogram', [data], layout);
      },
      renderSuccessPie() {
        var pieData = [{
          values: [ this.statistics.simulationCount - this.statistics.failures,this.statistics.failures],
          labels: ['Success','Failure'],
          type: 'pie'
        }];
        Plotly.newPlot('piechart', pieData);
      },
      clearSimData() {
        this.cleared = true;
        this.sim = {
          id: 0,
          status: '???',
          rolls: 0,
          remaining: {
            tickets: 0,
            free: 0,
            paid: 0,
          },
          remainingSimulations: 0,
        };

        this.statistics= {
          simulationCount: 0,
          failures: 0,
          requiredRolls: [],
          meanRolls: 0,
          medRolls: 0,
          ssrs: [],
          meanSSRs: 0,
          medSSRs: 0,
        };
        for (let girl of this.girls) {
          girl.ssrs = 0;
          girl.success = false;
        }

        Plotly.purge('histogram');
        Plotly.purge('piechart');
        Plotly.purge('ssrhistogram');
      }
    },
    watch: {
      input: {
        handler() {
          console.log("INPUT!!");
          this.clearSimData();
        },
        deep: true,
      },
      'input.bannerTarget'() {
        for (let i = 0; i < this.MAX_GIRLS; i++) {
          this.girls[i].target = i + 1 <= this.input.bannerTarget;
        }
      },
    },
    components: {}
  }).mount('#app')
</script>
